<div class="row">
	<div class="col-md-11">
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" ng-model="doctorname" type="text" name="search" placeholder="Doctor's Name">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<select class="form-control" ng-model="specification" ng-options="specification.sp_name for specification in specifications">
					<option value="">choose specification</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<select class="form-control" ng-model="branch" ng-options="branch.b_name for branch in branchs">
					<option value="">choose branch</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button ng-click="refesh()" type="button" class="btn btn-success">Refresh</button>
				<button ng-click="logout()" type="button" class="btn btn-success">Logout</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-12" dir-paginate="doctor in doctors | filter:{d_lname: doctorname, sp_name:specification.sp_name, b_name:branch.b_name} | itemsPerPage: pageSize">
			<h4>{{doctor.d_fname}} {{doctor.d_mname}} {{doctor.d_lname}}</h4>
			<p>{{doctor.sp_name}} - {{doctor.sp_desc}}</p>
			<p>{{doctor.b_name}} - {{doctor.b_desc}}</p>
		</div>
		<div class="text-center">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="public/views/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>
</div>